<div class="container">
	<div class="tile is-ancestor">
		<div class="tile is-vertical is-9">
			<div class="tile is-parent">
				<article class="tile is-child notification">
					<app-instant-message></app-instant-message>
				</article>
			</div>
			<div class="tile">
				<div class="tile is-parent">
					<article class="tile is-child notification">
						<p class="title">Menu updates</p>
						<p class="subtitle">Top tile</p>
						<div class="container">
							<div>There are 0 menu updates awaiting review.</div>
							<button class="button is-fullwidth">
								<span class="icon">
									<i class="fas fa-sync-alt"></i>
								</span>
								<span>Check now</span>
							</button>
						</div>
					</article>
				</div>
				<div class="tile is-parent">
					<article class="tile is-child notification">
						<p class="title">Notifications</p>
						<div class="container">
							<div class="columns">
								<div class="column notification is-success">
									The notification will be sent at:
									<br>
									09:00
									<br>
									The the food has arrived at:
									<br>
									12:17
								</div>
								<div class="column">
									<div class="buttons">
										<button class="button is-success is-fullwidth is-outlined">
											<span class="icon is-small">
												<i class="fas fa-bell"></i>
											</span>
											<span>Send a reminder now</span>
										</button>
										<button class="button is-info is-fullwidth is-outlined">
											<span class="icon is-small">
												<i class="fas fa-eye"></i>
											</span>
											<span>Preview today's reminder</span>
										</button>
										<button class="button is-danger is-fullwidth is-outlined">
											<span class="icon is-small">
												<i class="fas fa-hand-paper"></i>
											</span>
											<span>Disable today's reminder</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>

			</div>
		</div>
		<div class="tile is-parent">
			<article class="tile is-child notification">
				<app-todays-menu></app-todays-menu>
			</article>
		</div>
	</div>
	<div class="tile is-child">
		<article class="tile is-child notification">
			<p class="title">Configuration</p>
			<p class="subtitle">View and edit configuration</p>
			<div class="columns">
				<div class="column">
					<div class="notification is-success">
						<span class="icon is-large">
							<i class="far fa-question-circle fa-3x"></i>
						</span>
						<div>
							Reminder message
						</div>
					</div>
				</div>
				<div class="column">
					<div class="notification is-success">
						Arrival message
					</div>
				</div>
				<div class="column">
					<div class="notification is-success">
						Weekly menu
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
