<p class="title">Send a message</p>
<p class="subtitle">Instantly send a message to the group chat</p>
<div class="columns">
	<div class="column">
		<div class="field has-addons">
			<p class="control has-icons-left is-expanded is-loading">
				<input class="input" type="text" placeholder="Enter the message text">
				<span class="icon is-small is-left">
				<i class="fas fa-comment-alt" data-fa-transform="flip-h"></i>
			</span>
			</p>
			<p class="control">
				<button class="button">
					<span class="icon is-small">
						<i class="fas fa-paper-plane"></i>
					</span>
					<span>Send</span>
				</button>
			</p>
		</div>
	</div>
	<div class="column is-narrow">
		<button class="button" data-tooltip="Insert emojis">
			<span class="icon is-small">
				<i class="far fa-laugh"></i>
			</span>
		</button>
	</div>
</div>
